description = "Default layout"

[session]
security = "all"
==
{##}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <!-- <meta name="theme-color" content="#417286"/> -->

    <title>{# this.page.title #}</title>

    <link rel="icon" type="image/png" href="{{ 'assets/img/LOGOdeede.svg'|theme }}" />

</head>

<body class="{{ this.page.baseFileName }}">
    <div class="preload" style="width: 100vw;height: 100vh;position: fixed;background-color: #fff;z-index: 9999;top:0;">
        <img src="{{ 'assets/img/svg-loaders/Blocks-1s-200px.svg'|theme }}" alt="" style="position: absolute;top: calc(50% + -30px);left: 50%;transform: translate(-50%, -50%); width: 80px">
    </div>

    {% partial 'header' %}

    {% page %}

    {% partial 'footer' %}

    <!-- Fonts -->
    <!-- <link rel="stylesheet" href="{{ 'assets/fonts/stylesheet.css'|theme }}" media="all" async> -->

    <!-- libreria WOW animaciones CSS -->
    <link href="{{ 'assets/library/wow/animate-reduce.css'|theme }}" type="text/css" rel="stylesheet" media="screen,projection" async />

    <!-- Styles -->
    <link rel="stylesheet" href="{{ 'assets/css/normalize.css'|theme }}" media="all" async>
    <link rel="stylesheet" href="{{ 'assets/css/general.css'|theme }}" async>

    {% styles %}

    <!-- jQuery -->
    <script src="{{ 'assets/library/jQuery/jquery-3.3.1.min.js'|theme }}"></script>
    <script src="{{ 'assets/library/jQuery/jquery.easing.js'|theme }}"></script>

    <!-- libreria WOW animaciones JS -->
    <script src="{{ 'assets/library/wow/wow.min.js'|theme }}"></script>
    <script>
        wow = new WOW(
          {
            animateClass: 'animated',
            offset:       200
          }
        );
        wow.init();
    </script>

    <!-- Main -->
    <script src="{{ 'assets/js/main.js'|theme }}"></script>

    {% framework extras %}
    {% scripts %}

</body>
</html>
