description = "Footer"
==
<link rel="stylesheet" href="{{ ['assets/css/footer.css']|theme }}" async>

<footer>
	<div class="container">
		<div class="flex">
			<div>
				<h3>Sobre DEEDE</h3>
				<ul>
					<li><a href="#">Quiénes somos</a></li>
					<li><a href="#">Sala de prensa</a></li>
					<li><a href="#">Trabaja con nosotros</a></li>
				</ul>
			</div>
			<div>
				<h3>Ayuda</h3>				
				<ul>
					<li><a href="#">Preguntas frecuentes (FAQs)</a></li>
					<li><a href="#">Contacta con Deede</a></li>
					<li><a href="#">Política de privacidad</a></li>
					<li><a href="#">Política de cookies</a></li>
					<li><a href="#">Condiciones generales</a></li>
				</ul>
			</div>
			<div>

			</div>
			<div>
				<h3>En tu móvil o tablet</h3>
				<img src="{{ 'assets/img/images/app-store-google-play-logo.png'|theme }}" alt="" width="150">
			</div>
		</div>
	</div>
</footer>
