.resultados-header {
    padding-top: 85px;
    border-bottom: 2px solid #eee;
}

.resultados-header h1 {
    font-size: 1.4rem;
}

.resultados-header .buttons {}

.resultados-header .buttons a {
    display: inline-block;
    padding: 14px 6px;
    font-size: 0.75rem;
    position: relative;
    color: #444;
    position: relative;
}

.resultados-header .buttons a:hover {
    opacity: 0.7;
}

.resultados-header .buttons a.active {
    font-weight: bold;
    color: var(--c-primary);
}

.resultados-header .buttons a.active:after {
    content: "";
    height: 3px;
    display: block;
    background-color: var(--c-secondary);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.resultados {
    background-color: #F8F8F8;
    padding-top: 40px;
    padding-bottom: 65px;
}

.resultados .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 28px;
}

/*Mobile*/
@media screen and (max-width:900px) {
    .resultados .container {
        display: block;
    }

    .resultados .container .filtro {
        display: none
    }
}

.resultados .container .filtro {
    background-color: #fff;
    padding: 22px;
    font-size: 0.8rem;
    -webkit-box-shadow: 0 0 10px 2px rgba(39, 40, 89, 0.05);
    box-shadow: 0 0 10px 2px rgba(39, 40, 89, 0.05);
}

.resultados .container .filtro b {
    display: block;
    margin-bottom: 10px;
}

.resultados .container .filtro label {
    display: block;
    margin-top: 5px;
}

.resultados .container .filtro select {
    margin-top: 10px;
}

.listado .listado-header {
    padding-bottom: 18px;
    text-align: right;
    font-size: 0.7rem;
}

.listado .listado-header a {
    display: inline-block;
    border: 1px solid;
    padding: 8px 10px;
}

.listado .listado-header a.active {
    background-color: var(--c-primary);
    color: #fff;
    border-color: var(--c-primary);
}

.pagination {
    margin: 25px 0 15px 0;
}

.pagination,
.pagination li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.pagination li {
    list-style: none;
    border: 0;
    padding: 1px;
}

.pagination li a {
    text-decoration: none;
    background: var(--c-primary);
    color: #fdfdfd;
    height: 30px;
    width: 30px;
    font-size: 15px;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
}

.pagination li a.active{
	background-color: #fff;
	color: var(--c-primary);
	border: 1px solid var(--c-primary);
}

.pagination li:last-child a {
    border-right-width: 1px;
}

.pagination li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: var(--c-primary);
    border: 1px solid var(--c-primary);
}
.pagination li a:hover:before,
.pagination li a:hover:after{
	border-color: var(--c-primary);
}

.pagination li a:focus,
.pagination li a:active {
    padding-top: 4px;
    border-left-width: 1px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}

.pagination li.icon a {
    min-width: 120px;
}

.pagination li:first-child span {
    padding-right: 8px;
}

.pagination li:last-child span {
    padding-left: 8px;
}
.pagination .next:after{
    content: "";
    border: solid white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.pagination .prev:before{
    content: "";
    border: solid white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}